#----------------#
# Docker Configs #
#----------------#
DOCKER_BASE_PATH=./../docker
DOCKER_BIN_DIR=./bin
DOCKER_FILES_DIR=./src
DOCKER_STORAGE_DIR=./storage
DOCKER_BUILDS_DIR=./src/builds
DOCKER_BUNDLES_DIR=./src/bundles
DOCKER_HTDOCS_DIR=./htdocs
DOCKER_VOLUMES_DRIVER=local
DOCKER_NETWORKS_DRIVER=bridge
DOCKER_STACKS_DIR=./stacks
DOCKER_STACK_CONFIG=nodejs,reactjs,redis,postgres

#------------------------#
# Variáveis da Aplicação #
#------------------------#
COMPANY_NAME=sysdomotic
APPLICATION_ENV=development
APP_NAME=app.local
API_NAME=api.local

#-----------------------------------#
# ELASTICSEARCH / KIBANA / LOGSTASH #
#-----------------------------------#
ELK_ENABLED=false
ELK_VERSION=7.6.0
ELK_BUNDLE_DIR=docker-elk

#-------#
# NGINX #
#-------#
NGINX_ENABLED=false
NGINX_VERSION=7.6.0
NGINX_HOST_HTTP_DEFAULT_PORT=80
NGINX_HOST_HTTPS_DEFAULT_PORT=443
NGINX_HOST_HTTP_BUILD_PORT=8080
NGINX_HOST_HTTP_APP_PORT=8081
NGINX_HOST_HTTP_API_PORT=8082
NGINX_SITES_PATH=/nginx/sites/

#---------#
# PHP_FPM #
#---------#
PHP_FPM_ENABLED=false
PHP_FPM_VERSION=7.4-fpm
PHP_FPM_PORT=9000

#--------#
# NODEJS #
#--------#
NODEJS_ENABLED=false
NODEJS_VERSION=
NODEJS_PORT=3001

#---------#
# REACTJS #
#---------#
REACTJS_ENABLED=false
REACTJS_VERSION=
REACTJS_PORT=9001

#-------#
# VUEJS #
#-------#
VUEJS_ENABLED=false
VUEJS_VERSION=
VUEJS_PORT=8001

#-----------#
# ANGULARJS #
#-----------#
ANGULARJS_ENABLED=false
ANGULARJS_VERSION=
ANGULARJS_PORT=4201

#-------#
# REDIS #
#-------#
REDIS_ENABLED=false
REDIS_VERSION=6.0-rc3
REDIS_HOST=localhost
REDIS_PASSWORD=redis
REDIS_PORT=6379

#----------#
# POSTGRES #
#----------#
POSTGRES_ENABLED=false
POSTGRES_VERSION=11.5
POSTGRES_DB=sysdomotic
POSTGRES_USER=dev
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

#---------#
# MARIADB #
#---------#
MARIADB_ENABLED=false
MARIADB_VERSION=10.4
MARIADB_DB=sysdomotic
MARIADB_USER=dev
MARIADB_PASSWORD=secret
MARIADB_ROOT_PASSWORD=secret
MARIADB_PORT=3306

#---------#
# MONGODB #
#---------#
MONGODB_ENABLED=false
MONGODB_VERSION=4.0.17
MONGODB_DB=sysdomotic
MONGODB_USER=dev
MONGODB_PASSWORD=secret
MONGODB_PORT=27017